@model PractitionerBar

@if (Model.isPractitioner) {
   <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <label>You have @Model.amountOfAppointments appointments today!</label>
        </div>
    </div>
</div> 
}
