@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
    <p>As a patient, please use the e-mail address you have submitted during your intake.</p>
    <input type="button" value="Patient" onclick="location.href='@Url.Action("Patient", "Register")'" />
    <input type="button" value="Practitioner" onclick="location.href='@Url.Action("Practitioner", "Register")'" />

    <p>Already have an account? <a href="location.href='@Url.Action("Index", "SignIn")'">Log in instead.</a></p>

    <div class="row">
    <div class="col-md-4">
    </div>
</div>
</div>