@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <partial name="_PractitionerBarPartialView" model="Model.practitionerBar"></partial>
</div>

@if (Model.noAccount)
{

<div class="text-center">
    <h2>Please wait for your intake to be registered. This is tied to your e-mail address.</h2>
</div> 

}

