@model Core.Domain.PatientFile

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PatientFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="patientId" class="control-label"></label>
                <input asp-for="patientId" class="form-control" />
                <span asp-validation-for="patientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="treatmentPlanId" class="control-label"></label>
                <input asp-for="treatmentPlanId" class="form-control" />
                <span asp-validation-for="treatmentPlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intakeByPractitionerId" class="control-label"></label>
                <input asp-for="intakeByPractitionerId" class="form-control" />
                <span asp-validation-for="intakeByPractitionerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="supervisedBypractitionerId" class="control-label"></label>
                <input asp-for="supervisedBypractitionerId" class="form-control" />
                <span asp-validation-for="supervisedBypractitionerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthDate" class="control-label"></label>
                <input asp-for="birthDate" class="form-control" />
                <span asp-validation-for="birthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <select asp-for="type" class="form-control"></select>
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="registerDate" class="control-label"></label>
                <input asp-for="registerDate" class="form-control" />
                <span asp-validation-for="registerDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dischargeDate" class="control-label"></label>
                <input asp-for="dischargeDate" class="form-control" />
                <span asp-validation-for="dischargeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
